body {
  padding: 0;
  margin: 0;
}
h1, h2, p, a, ul, li, span{
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* header */
header {
  background-color: #66c7d9;
  color: #ffffff;
  width: 100%;
}
.headerLogo{
  color: white;
}
.headerContainer {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end
}
.headerRight {
  text-align: right;
}
.headerRight a {
  margin-left: 20px;
  color: #fff;
  display: inline-block;
}
.notLoginNav a{
  border-bottom: 1px solid #fff;
}
.notLoginNav a:hover {
  font-weight: bold;
}
.logoutBtn {
  border-bottom: 1px solid #fff;
  font-size: 14px;
  position: relative;
  top: 5px;

}
@media screen and (max-width: 720px) {
  .headerLogo{
    font-size: 30px;
  }
  .headerContainer {
    padding: 10px 10px;
  }
  .logoSub {
    display: none;
  }
  .headerRight p {
    font-size: 14px;
  }
  .headerRight a {
    margin-left: 14px;
    font-size: 14px;
  }
}



/* footer */
footer {
  background-color: #f7f5ec;
  color: #5a8c68;
  height: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.footerContainer {
  width: fit-content;
  padding-top: 20px;
}


/* header, footerを除くbody */
.mainContainer {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* 一覧に戻る */
.backToList {
  width: fit-content;
  margin: 20px auto;
}
.backToList a {
  color: #f06543;
  border-bottom: 1px solid #f06543;
}
.backToList a:hover {
  opacity: 50%;
}


/* like数表示 (/app/page.tsx)*/
.likePosition {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}
.hasLiked {
  color :#f06543;
  filter: brightness(1.4);
}
.hasNotLiked {
  color: gray;
}

/* likeボタン (/components/likeCount.tsx) */
.mahaloBtn {
  margin: 10px 0 0 auto;
  background-color: #fff;
  width: fit-content;
  border-radius: 10px;
  padding: 5px 10px;
  color: #f06543;
  border: 2px solid #f06543;
  filter: brightness(1.4);
  font-weight: 700;
  position: relative;
}
.mahaloBtn:hover{
  opacity: 50%;
}
.mahaloDisBtn {
  margin: 10px 0 0 auto;
  /* background-color: #ca2b80; */
  background-color: #f06543;
  filter: brightness(1.4);
  width: fit-content;
  border-radius: 10px;
  padding: 5px 10px;
  color: #fff;
  font-weight: 700;
}


/* 一覧画面(/page.tsx) */
/* 検索・並び替え・カテゴリ */
.searchCard {
  position: fixed;
  z-index: 1000;
  right: 10px;
  bottom: 10px;
  background-color: #5a8c68;
  border-radius: 15px;
}
@media screen and (max-width: 720px) {
  .searchIcon {
    display: none;
    color: #fff;
  }
}

/* 1投稿表示ページ(/readsingle/[id]/page.tsx)のlikeボタンと更新日のラベル部分 */
.operationButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
/* 1投稿表示ページ(/readsingle/[id]/page.tsx)の投稿削除ボタン */
.editDeleteButton {
  display: flex;
  width: fit-content;
  margin: 30px auto;
  gap: 30px;
}

/* １投稿表示 */
.singleItemContainer {
  position:relative;
}
.postContent {
  position: absolute;
  top: 40px;
  max-width: 80vw;
  font-weight: 700;
  backdrop-filter: blur(4px);
  background: linear-gradient(to bottom, rgba(255,255,255,0.9), rgba(255,255,255,0.3));
  border-radius: 16px;
  padding: 1.5rem;
}
.postContent h2 {
  font-size: 28px;
  color: #3a6351;
  font-weight: bold;
}

.postContent p:nth-child(2) {
  color:#3a6351;
  font-weight: 400;
}
.marqueeContainer {
  overflow: hidden;
}
.marquee {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  color: black;
  font-weight: 400;
  font-size: 20px;
  animation: scroll-left 10s linear infinite;
}
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 720px) {
  .postContent {
    max-width: 80vw;
  }
  .marquee {
    width: fit-content
  }
  .postContent h2 {
    font-size: 24px;
  }
}

.editedDay p{
  font-size: 14px;
  color: #5a8c68;
  margin-bottom: 5px;
}



/* ログイン画面(login/pages.tsx) and 新規登録画面(register/pages.tsx)　 */
.authContainer {
  height: 75vh;
}
.authContent {
  margin: 50px auto;
  width: 400px;
  padding-bottom: 30px;
}
.authContent h2{
  width: fit-content;
  margin: 30px auto;

}
.userFormItem {
  width: 70%;
  margin: 30px auto;
}
.authContent input {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin-top: 5px;
  font-size: 18px;
}
.userFormInput {
  width: 100%;
}
.userAuthBtn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}


/* 投稿作成画面 create.tsx */
.postFormWrapper {
  max-width: 600px;
  margin: 50px auto;
  padding: 32px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
}
.postFormWrapper h1 {
  margin: 0 0 30px 0;
}
.selectCategory {
  margin: 30px 0;
}
.selectCategory p {
  font-weight: 700;
}
.selectImage {
  margin: 30px 0;
}
.selectImage p {
  font-weight: 700;
  margin-bottom: 10px;
}
.selectImageBox {
  height: 50px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #c1c1c1;
}
.selectPlace p {
  font-weight: 700;
}
.viewImage p {
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: 700;
}
.imagePreview {
  display: flex;
  justify-content: center;
}
.imagePreview img {
  border-radius: 20px;
  margin-top: 10px;
}

/* 削除ページ */
/* /delete/[id]/pages.tsx */
.deleteConfirmMsg h1 {
  font-size: 26px;
  margin-bottom: 5px;
}
.deleteConfirmMsg p {
  font-size: 18px;
  margin-bottom: 20px;
  color: red;
}
/* /delete/[id]/form.tsx */
.deleteConfirmItem {
  margin-bottom: 20px;
}
.deleteImage {
  width: 100%;
  display: flex;
  justify-content: center;
}
.deleteItem {
  margin: 20px 0;
}
